<section>
    {{#each this}}
    <article class="uk-comment uk-comment-primary">
        <header class="uk-comment-header">
            <div class="uk-grid-medium uk-flex-middle" uk-grid>
                <div class="uk-width-expand">
                    <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset"
                            href="#">{{user.username}}</a></h4>
                    <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                        <li>{{format_date created_at}}</li>
                        <li><a href="#">Reply</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <div class="uk-comment-body">
            <p>{{comment_content}}</p>
        </div>
    </article>
    {{/each}}
</section>