<a href="/dashboard" class="uk-link uk-link-muted" > <span uk-icon="icon: chevron-double-left; ratio: 2"></span> Back to Dashboard</a>
<hr>

<form class="new-post-form uk-form-width-large uk-margin-large-left">
    <fieldset class="uk-fieldset">
        <legend class="uk-legend uk-text-center">Create new Blog</legend>

        <div class="uk-margin">
            <label for="post-title">Blog Title</label>
            <input class="uk-input" type="text" placeholder="Enter Blog Title"  id="post-title" name="post-title">
        </div>

        <div class="uk-margin">
            <label for="post-content">Blog Content</label>
            <textarea class="uk-textarea" rows="5" placeholder="Textarea" id="post-content" name="post-content"></textarea>
        </div>

        <button type="submit" value="Submit" id="submit" class="uk-button uk-button-default">Submit</button>

    </fieldset>
</form>

<script src="/js/add-post.js"></script>