<div>
    <h2 class="uk-heading">Dashboard: Your Blogs</h2>
    <a href="/dashboard/create/"><button id="create-post" class="uk-button uk-button-primary ">Create Blog</button></a>
    <hr>
    {{#if posts.length}}
</div>
<hr>
<div>
    <h1 class="uk-heading-lead uk-text-center"> Here are your current posts</h1>
    {{#each posts as |post|}}
    {{> post-info post}}
</div>
<hr>
<div class="uk-text-center">
    <a href="/dashboard/edit/{{post.id}}"><button class="uk-button uk-button-warning">Edit Post</button></a>
    || <a href="/dashboard/create/"><button id="create-post" class="uk-button uk-button-muted">Create Post</button></a>
</div>
</div>

{{/each}}
{{else}}
<h6 class="uk-heading-small uk-text-italic uk-text-center">You do not have any posts at this moment</h6>
<div class="uk-text-center"><span class="bouncyArrow"><i class="fa fa-angle-double-down fa-2x"></i></span></div>

{{/if}}