<div class="uk-container uk-container-xsmall">
  <form class="login-form">
  <fieldset class="uk-fieldset">
    <legend class="uk-legend">Login</legend>

    <div class="uk-margin">
      <label for="email-login">Email:</label>
      <input class="uk-input" type="text" name="email-login" placeholder="Enter Email" id="email-login">
    </div>

    <div class="uk-margin">
      <label for="password-login">Password:</label>
      <input class="uk-input" name="password-login" type="password" id="password-login" placeholder="Enter Password" />
    </div>
    <div>
      <button type="submit" value="Login" id="submit" class="uk-button uk-button-default">login</button>

      <a class="uk-link-text uk-link-muted" href="/signup"><button type="button"
          class="uk-button uk-button-default">Signup</button></a>
    </div>
  </fieldset>
</form>
</div>

<!--UIKit JS -->
<script src="uikit/dist/js/uikit-icons.min.js"></script>
<!-- javascript file-->
<script src="/js/login.js"></script>