<div class="uk-container uk-container-xsmall">
  <form class="signup-form">
    <fieldset class="uk-fieldset">
      <legend class="uk-legend">Signup</legend>
      <div class="uk-margin">
        <label for="username-signup"><span class="uk-text-danger">*</span>Username</label>
        <input class="uk-input" type="text" id="username-signup" placeholder="Enter your Username"/>
      </div>
      <div class="uk-margin">
        <label for="email-signup"><span class="uk-text-danger">*</span>Email</label>
        <input class="uk-input" type="text" id="email-signup" placeholder="Enter your Email"/>
      </div>
      <div class="uk-margin">
        <label for="twitter-signup">Twitter</label>
        <input class="uk-input" type="text" id="twitter-signup" placeholder="Enter your Twitter" />
      </div>
      <div class="uk-margin">
        <label for="github-signup">Github</label>
        <input class="uk-input" type="text" id="github-signup" placeholder="Enter your Github"/>
      </div>
      <div class="uk-margin">
        <label for="password-signup"><span class="uk-text-danger">*</span>Password</label>
        <input class="uk-input" type="password" id="password-signup" placeholder="Enter your Password"/>
      </div>
      <p>Items with an <span class="uk-text-danger">*</span> must be filled in</p>
      <div class="uk-margin">
        <button type="submit" class="uk-button uk-button-warning">Signup</button>
      </div>
      
    </fieldset>
  </form>
</div>

<!-- javascript file-->
<script src="/js/signup.js"></script>