<form class="signup-form">
  <fieldset class="uk-fieldset">
    <legend class="uk-legend">Signup</legend>
    <div class="uk-margin">
      <label for="username-signup">Username</label>
      <input class="uk-input" type="text" id="username-signup" />
    </div>
    <div class="uk-margin">
      <label for="email-signup">Email</label>
      <input class="uk-input" type="text" id="email-signup" />
    </div>
    <div class="uk-margin">
      <label for="twitter-signup">Twitter</label>
      <input class="uk-input" type="text" id="twitter-signup" />
    </div>
    <div class="uk-margin">
      <label for="github-signup">Github</label>
      <input class="uk-input" type="text" id="github-signup" />
    </div>
    <div class="uk-margin">
      <label for="password-signup">Password</label>
      <input class="uk-input" type="password" id="password-signup" />
    </div>
    <div class="uk-margin">
      <button type="submit" class="button is-primary">signup</button>
    </div>
  </fieldset>
</form>
</div>

<!-- javascript file-->
<script src="/js/signup.js"></script>