
{{> post-info post}}


<!-- only display if logged in -->
{{#if loggedIn}}
<form class="comment-form">
  <fieldset class="uk-fieldset">
  <div class="uk-margin">
    <textarea class="uk-textarea-large" rows="5" placeholder="Textarea" name="comment-body"></textarea>
  </div>

  <div class="uk-margin">
    <button class="uk-button uk-button-warning" type="submit">Add Comment</button>
  </div>
  </fieldset>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}