<h4><a href="/login">Please login or signup to see comments</a></h4>

{{> post-info post}}



<!-- only display if logged in -->
{{#if loggedIn}}
<form class="comment-form">
  <fieldset class="uk-fieldset">
    <legend class="uk-legend">Add Comment Form</legend>
  <div class="uk-margin">
    <label for="comment-body">Post ID:<span id="post_id">{{post.id}}</span></label>
    <textarea class="uk-textarea uk-textarea-xlarge" rows="5" placeholder="Drag box to enlarge" name="comment-body" id="comment-body" type="text" maxlength="255"></textarea>
  </div>

  <div class="uk-margin">
    
    <button class="uk-button uk-button-default" type="submit" id="submit" value="submit">Submit Comment</button>
    <p><span class="uk-text-danger">*</span>Max. 255 characters </p>
  </div>
  </fieldset>
</form>
{{/if}}

{{#if loggedIn}}
{{> comments post.comments}}


<script src="/js/comment.js"></script>
{{/if}}
